<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Edit</title>
</head>
<body>
   

<h3>Edit Student</h3>


 
<form action="/squads/<%= @student["id_stu"] %>/students" method="POST">
   <input type="hidden" name="_method" value="PUT">
   <label for="name">Edit Name: </label>
   <input type="text" value="<%= @student["name_stu"] %>" name="name">
   <label for="name">Edit age: </label>
   <input type="text" value="<%= @student["age"] %>" name="age">
   <label for="name">Edit spirit animal: </label>
   <input type="text" value="<%= @student["spirit_animal"] %>" name="animal">
   <label for="name">Edit squad Id: </label>
   <input type="text" value="<%= @student["squad_id"] %>" name="squad_id">
   <input type="submit" name="edit">

</form>






</body>
</html>