<%= erb :'partials/_header' %>
<body>
   
  
<div class="col-xs-7">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Add new student</h3>
  </div>
  <div class="panel-body">
      <form action="/squads/<%= @id %>/students" method="POST">

         <label for="name">New student name:</label>
         <input type="text" name="name" class="form-control" autofocus required>

         <label for="age">Age:</label>
         <input type="number" class="form-control" name="age">
         
         <label for="animal">Spirit Animal:</label>
         <input type="text" class="form-control" name="animal" ><br>
         
         <div class="row">
            <div class="col-xs-3 " style="margin-top:7px">
               <b> Check if leader</b> <input type="checkbox"  name="leader" >
            </div>
            <div class="col-xs-2">
               <label for="age" style="margin-top:7px">Squad ID:</label>
            </div>   
            <div class="col-xs-2">
               <input type="text"  class="form-control" name="squad_id" value="<%= @id %>" required disabled>
            </div>
         </div><br>

         <input type="submit" value="Add student" class="btn btn-success">
      </form> 
   </div>
</div>
   
   <div class="panel panel-default">
    <div class="panel-body">
       <div class="row">
         <div class="col-xs-1 "></div>
         <div class="col-xs-4 ">
            <form action="/squads/<%= @id %>/students">
               <input type="submit" value="Back to squad <%= @id %>" class="btn btn-primary">
            </form>
         </div>
         <div class="col-xs-2 ">
            <form action="/squads">
               <input type="submit" value="Back squads list" class="btn btn-warning">
            </form>
         </div>
         </div>         
    </div>
</div>  
</div>
      
   
</body>
</html>