<%= erb :'partials/_header' %>
<body>
   

<div class="col-xs-7">
<ul class="list-group">
   <table class="table table-striped">
      <tr>
         <li class="list-group-item active">
            <td><h4>List of Students in squad: <%= @squad[0]["name_sq"] %> </h4></td>
            <td> 
               <form action="/squads/<%= @squad[0]["id_sq"] %>/newstudent">
                  <input type="submit" value="Add new Student" class="btn btn-success">
               </form>
            </td>
            <td>
               <form action="/squads">
               <input type="submit" value="Squads List" class="btn btn-warning">
               </form>   
            </td>
         </li>
      </tr>

      <tr>
         <td><h4>The mascot is <%= @squad[0]["mascot"] %></h4></td>
         <td></td><td></td>
      </tr>

      <% @squad.each do |student| %>
         <% if student["is_leader"] == "t" %>
         <tr>
            <td> <b> <%= student["name_stu"] %> </b></td>
         <% else %>
               <td> <%= student["name_stu"] %></td>
         <% end %> 

         <td><a href="/squads/<%= student["id_sq"] %>/students/<%= student["id_stu"] %>">Info</a></td>
         <td><a href="/squads/<%= student["id_sq"] %>/students/<%= student["id_stu"] %>/edit">Edit</a></td>
      </tr>
   <% end %>


   </table>
</ul>      
</div>

</body>
</html>