<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>
   


<h3>List of Students in squad:<%= @squad[0]["name_sq"] %> </h3>
<h4>The mascot is <%= @squad[0]["mascot"] %></h4>



<% @squad.each do |student| %>
  <li>Student: <%= student["name_stu"] %>
   <a href="/squads/<%= student["id_sq"] %>/students/<%= student["id_stu"] %>">Info</a>
   <a href="/squads/<%= student["id_sq"] %>/students/<%= student["id_stu"] %>/edit">Edit</a>
   </li>
<% end %>



<br>
   <form action="/squads/<%= @squad[0]["id_sq"] %>/newstudent">
   <input type="submit" value="Add new Student">
</form>
<br>






<form action="/squads">
   <input type="submit" value="Squads List">
</form>


</body>
</html>